<details>
    <summary>
        <div id="summary-title">{{ table.title }}</div>
        <div class="actions"><button type="button" mat-raised-button (click)="rollTable($event)">Roll</button></div>
    </summary>
    <table *ngIf="table" aria-labelledby="table-title" aria-labelledby="table-title">
        <thead *ngIf="subtableNames.length > 1">
            <tr>
                <th *ngIf="includeNumbers">Roll</th>
                <th *ngFor="let h of subtableNames">{{ h | titlecase }} <button type="button" (click)="rollTable($event, h)">Roll</button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableRows">
                <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
        </tbody>
    </table>
</details>
