<h1 mat-dialog-title id="modal-title">Edit Note</h1>

<mat-dialog-content>
  <form id="noteEditForm" (ngSubmit)="onSubmit($event)">
    <div>
      <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput id="title" type="text" name="title" value="{{ note.title }}" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea matInput id="content" type="text" name="content" rows="12">{{ note.content }}</textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button color="primary" type="submit" form="noteEditForm">Save</button>
      <button mat-flat-button type="button" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
