:host {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "npcs tables"
        "notes tables";
    gap: 1rem;
}

#npcs {
    grid-area: npcs;
    padding: 1rem;
}

#notes {
    grid-area: notes;
    padding: 1rem;
}

#tables {
    grid-area: tables;
    padding: 1rem;
}
