:host {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "leftColumn notes";
    gap: 1rem;
}

#leftColumn {
    grid-area: leftColumn;
}

#town {
    grid-area: town;
}

#npcs {
    grid-area: npcs;
    padding: 1rem;
}

#notes {
    grid-area: notes;
    padding: 0 1rem;
}
