:host {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "town notes"
        "npcs notes";
    gap: 1rem;
}

#town {
    grid-area: town;
    padding: 1rem;
}

#npcs {
    grid-area: npcs;
    padding: 1rem;
}

#notes {
    grid-area: notes;
    padding: 1rem;
}
