<section id="introduction">
    <h2>Introduction</h2>

    <p>On the frontier, what starts as a single tent at an important resource can become a booming town. Relationships are important to keep order and provide services. But the needs and passions of the townsfolk mean not everyone will get along or work together, and external threats can arrive any day to put individuals or the settlement as a whole at risk. The rule of law is whatever the people decide it is and often just whatever the strongest or richest say it is, but if the law deteriorates too much chaos will reign and the whole settlement will become just another ghost town, a spot on a map that once was.</p>
    <p>This game is about players taking on a character (or characters) in a small frontier settlement in the Old West.</p>
</section>

<section id="usingtables">
    <h2>Using Random Tables</h2>

    <p>Part of the fun of random tables for generating content is the way they can come up unexpected results. Sometimes you'll get something that seems completely non-sensical or impossible. You can always just throw a result away or reroll, but first take a moment to consider how the disparate results might fit together. This is often where you can come up with the most surprising or unexpected ideas that will add a spark to your setting and game. How do we explain the sheriff whose main goal is wealth or the brothel owner who works in search of piety and charity? Take a moment to consider how you can bring the two random concepts together, and you might surprise yourself.</p>
</section>

<section id="prep">
    <h2>Prep or Session Zero</h2>

    <p>If you want to start a session fast, setup an synchronous pre-session, where the players create their characters. If you want a more collaborative approach run a session zero to do all the setting/town creation. It helps to at least know the PCs jobs before you start creating NPCs and thinking about locations in town.</p>

    <ol>
        <li>Pick a setting and general town details (landscape, size, major industry).</li>
        <li>Have the players create their character (PCs). (Alternately, do this before making any other decisions.)</li>
        <li>Name the town.</li>
        <li>Generate a few major Non-Player Characters (NPCs). Roll some randomly, though it's good to at least have a saloon owner, some kind of store owner, a common worker related to the major industry in the area, and maybe an agent of the law. The more you roll the more details you will have about your town, but also the more you will have to track.</li>
        <li>Generate some relationships between those major NPCs.</li>
        <li>Generate randomly or create some relationships between each PC and at least one major NPC. Ask the players for ideas.</li>
        <li>Create a brief list of the most prominent buildings on main street, start with those implied by your major NPCs and the PCs. You can always add more later, or add a side street for more ideas.</li>
        <li>Roll a few times on the events tables to see what recently happened, what is currently happening, and what will happen soon.</li>
        <li>If you need extra inspiration, roll a few times for strangers arriving in town. Give those strangers goals. Try to relate those goals to the PCs or someone they have a relationship with.</li>
        <li>See what happens.</li>
    </ol>

</section>

<section id="tropes">
    <h2>Genre Tropes</h2>

    <h3>Violence</h3>

    <p>Violence may occur at any time, but it should, for the most part, be escalating from threats or the result of ongoing tension. When a gun is pulled, another gun is likely to be pulled, then guns are likely to be fired, then someone is likely to die. Gunshots may graze, but a single one can kill. A knife wound can kill, but fist fights can only knock out. The potential for violence is as important for the setting as the violence itself, maybe even more so. Only the truly desperate or insane will just run up and shoot.</p>
    <p>Violence begets violence.</p>

    <h3>Women</h3>
    <p>Don't get stuck assuming all the woman in town are mothers, prostitutes, or the school teacher. The frontier is a place for people to leave some of the strictures of society behind. If you feel the need to, create a backstory for how/why a woman ended up as a cowboy, preacher, or store owner.</p>

    <h3>Native Americans</h3>

    <p>Knowing enough to know I don't know, I've not attempted to address race, in particular Native Americans. As they have been mostly poorly portrayed (or ignored) in the media I am drawing from, and I am purely working off of that media, I don't think I can address the place of those peoples well. Is it worse to leave them out or to put them in and do it poorly? I'm not sure. For a first draft, I'm going with the latter being worse. But if I continue to work on this, I will find time to do some research for subsequent versions.</p>
</section>

<section id="inspirations">
    <h2>Inspirations</h2>

    <ul>
        <li>Deadwood (3 seasons + movie)</li>
        <li>Warlock (novel + 1959 movie)</li>
        <li>Strange Empire (1 season)</li>
        <li>Canyon Passage (1946 movie)</li>
        <li>First Cow (2019 movie)</li>
        <li>The Man Who Shot Liberty Valence (1962 movie)</li>
        <li>Johnny Guitar (1954 movie)</li>
        <li>High Noon (1952 movie)</li>
        <li>Rio Bravo (1959 movie)</li>
        <li>McCabe & Mrs. Miller (1971 movie)</li>
    </ul>
</section>
