<details [open]="!npc.collapse" (toggle)="setCollapse($event)">
    <summary>
        <div id="summary-title">{{ npc.npcName }}</div>
        <div class="actions">
            <button *ngIf="!isEdit" type="button" (click)="toggleEdit()">Edit NPC</button>
        </div>
    </summary>
    <div *ngIf="!isEdit">
    <ul>
        <li *ngFor="let field of npc.getFieldNames()">
            {{ getFieldLabel(field) }} {{ npc[field] }}
        </li>
    </ul>
    </div>
    <div *ngIf="isEdit">
        <p>Click the <span style="font-size: 2rem;">&#9861;</span> to reroll a field. Click "Save" to save any changes.</p>
        <form id="npcEditForm" (ngSubmit)="saveNPC($event)">
            <div *ngFor="let field of schema.fields">
            <mat-form-field appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <ng-container [ngSwitch]="field.key">
                <textarea *ngSwitchCase="'notes'" rows=5 matInput id="{{ field.key }}" name="{{ field.key }}">{{ npc[field.key] }}</textarea>
                <input *ngSwitchDefault matInput id="{{ field.key }}" type="text" name="{{ field.key }}" value="{{ npc[field.key] }}" />
                </ng-container>
                <button matSuffix type="button" class="btn-reroll" *ngIf="field.key !== 'notes'" (click)="reroll(field.key)" aria-label="Reroll">&#9861;</button>
            </mat-form-field>
            </div>
            <div>
                <button type="submit">Save</button>
                <button type="button" (click)="toggleEdit()">Cancel</button>
                <button type="button" class="deleteBtn" (click)="deleteNPC()">Delete NPC</button>
            </div>
        </form>
    </div>
</details>
