<details [open]="!npc.collapse" (toggle)="setCollapse($event)">
    <summary>
        <div class="summary-title">{{ npc.npcName }}</div>
        <div class="actions">
            <button *ngIf="!isEdit && !npc.collapse" type="button" (click)="toggleEdit()">Edit NPC</button>
        </div>
    </summary>
    <div *ngIf="!isEdit">
        <ul>
            <li *ngFor="let field of npc.getFieldNames()">
                {{ getFieldLabel(field) }} {{ npc.getFieldDisplay(field) }}
            </li>
        </ul>
        <div *ngIf="npc.notes !== ''">
            <strong id="npc_{{ npc.uuid }}_notes">Notes</strong>
            <div [attr.aria-labelledby]="'npc_' +npc.uuid + '_notes'" [innerHTML]="npc.getFieldDisplay('notes')"></div>
        </div>
    </div>
    <div *ngIf="isEdit">
        <p>Click the <span style="font-size: 2rem;">&#9861;</span> to reroll a field. Click "Save" to save any changes.</p>
        <form id="npcEditForm" (ngSubmit)="saveNPC($event)">
            <div *ngFor="let field of schema.fields">
                <div class="formField">
                    <label for="{{ field.key }}">{{ field.label }}</label>
                    <div class="fieldReroll">
                        <input id="{{ field.key }}" type="text" name="{{ field.key }}" value="{{ npc[field.key] }}" autocomplete="off" />
                        <button type="button" class="btn-reroll" (click)="reroll(field.key)" aria-label="Reroll" attr.aria-controls="{{ field.key }}">&#9861;</button>
                    </div>
                </div>
            </div>
            <div class="formField">
                <label for="notes">Notes</label>
                <textarea rows=5 id="notes" name="notes">{{ npc.notes }}</textarea>
            </div>
            <div>
                <button type="submit">Save Changes</button>
                <button type="button" (click)="toggleEdit()">Cancel Edit</button>
                <button type="button" class="btn-delete" (click)="deleteNPC()">Delete NPC</button>
            </div>
        </form>
    </div>
</details>
