:host {
    display: grid;
    max-width: 80rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
    "creation resolution"
    "social injury";
    margin: 0 auto;
    column-gap: 2rem;
}

h2#rulesheader {
    grid-area: header;
}

section {
    max-width: 40rem;
}
section#creation {
    grid-area: creation;
}
section#resolution {
    grid-area: resolution;
}
section#social {
    grid-area: social;
}
section#injury {
    grid-area: injury;
}

ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
}
ol li:before {
    content: counters(item, ".") ".";
    counter-increment: item;
    font-weight: bold;
    margin-right: 0.5rem;
}

ol > li {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

ol ol {
    margin-top: .5rem;
    padding-left: 2rem;
}

ol ol > li {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    border: none;
    border-radius: 5px;
    background-color: var(--surface2);
}
table td, table th {
    padding: .25rem;
    border: none;
}
table thead tr {
    background-color: var(--primary);
    font-weight: bold;
}

/* border radius only works on cells, so this complication to soften the edges. */
table thead tr th:first-child {
    border-top-left-radius: 5px;
}
table thead tr th:last-child {
    border-top-right-radius: 5px;
}
table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

table tbody tr:nth-child(even) {
    background-color: var(--surface1);
}
