<details [open]="!note.collapse" (toggle)="setCollapse($event)">
    <summary>
        <div class="summary-title">{{ note.title }}</div>
        <div class="actions">
            <button *ngIf="!isEdit && !note.collapse" type="button" (click)="toggleEdit()">Edit Note</button>
        </div>
    </summary>

    <div class="body">
        <div *ngIf="!isEdit; else editForm" class="content" [innerHTML]="note.contentHtml"></div>
        <ng-template #editForm>
        <form id="noteEditForm" (ngSubmit)="saveEdit($event)">
            <div class="formField">
                <label for="title">Title</label>
                <input id="title" type="text" name="title" value="{{ note.title }}" required>
            </div>
            <div class="formField">
                <label for="content">Content</label>
                <textarea id="content" type="text" name="content" rows="12">{{ note.content }}</textarea>
            </div>
            <div>
                <button type="submit">Save</button>
                <button type="button" (click)="toggleEdit()">Cancel</button>
                <button type="button" class="btn-delete" (click)="deleteNote()">Delete Note</button>
            </div>
            </form>
        </ng-template>
    </div>
</details>

