:host {
    display: block;
    margin-bottom: 1rem;
}

mat-card {
    padding: .5rem;
}

mat-card-title {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    font-weight: bold;
    font-size: 1.1rem;
    /** margin-bottom: .8rem; */
    margin-bottom: 0;
}

mat-card-actions {
    text-align: right;
    margin: 0;
    padding: 0;
}
