<header id="header">
    <h1>Hadleyville: Rules Light RPG</h1>
    <app-roller></app-roller>
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/intro" routerLinkActive="active">Intro</a></li>
            <li><a routerLink="/rules" routerLinkActive="active">Rules</a></li>
          </ul>
    </nav>
</header>
<main>
<router-outlet></router-outlet>

</main>
<footer>
    <p>Written in Mar-Apr 2021 by Derik A. Badman <a href="https://derikbadman.com">https://derikbadman.com</a> Game info and updates at <a href="https://madinkbeard.itch.io/hadleyville">https://madinkbeard.itch.io/hadleyville</a></p>
</footer>
