:host {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "header header"
        "main main"
        "footer footer";
    grid-template-rows: min-content auto min-content;
    height: 100vh;
}

header#header {
    padding: 1rem;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

header#header h1  {
    font-size: 2rem;
    margin: .5rem;
    flex: 2 1 auto;
}

header nav {
    border-radius: 5px;
    border: 1px dotted goldenrod;
    background-color: white;
    margin-left: 1rem;
}

header nav ul {
    font-size: 1.2rem;
    margin: 1rem 2rem;
    padding: 0;
}
header nav ul li {
    display: inline-block;
    margin-right: 2rem;
}
header nav ul li:last-child {
    margin-right: 0;
}
header nav a {
    text-decoration: none;
}
header nav a:hover, header nav a:active {
    text-decoration: underline;
}

main {
    grid-area: main;
    padding: 1rem;
    position: relative;
}


#tables {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 1rem;
    width: 60vw;
    transform: translate(100%, 0);
    transition: all 0.4s ease-in-out;
}
#tables[aria-expanded=true] {
    transform: none;
}

footer {
    grid-area: footer;
    padding: 1rem;
    border-top: 1px solid lightgrey;
}
footer p {
    margin: 0;
}
