<header id="header">
    <h1>Hadleyville: Rules Light RPG</h1>
    <app-roller role="region" aria-label="Dice Roller"></app-roller>
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLink="/intro" routerLinkActive="active">Intro</a></li>
            <li><a routerLink="/rules" routerLinkActive="active">Rules</a></li>
            <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
            <li><a href="#" (click)="toggleTable($event)">Tables</a></li>
          </ul>
    </nav>
</header>
<div style="display:none">
<figure class="brand">
    <div class="swatch"></div>
    <figcaption>Brand</figcaption>
  </figure>

  <figure class="text1">
    <div class="swatch"></div>
    <figcaption>Text 1</figcaption>
  </figure>

  <figure class="text2">
    <div class="swatch"></div>
    <figcaption>Text 2</figcaption>
  </figure>

  <figure class="surface1">
    <div class="swatch"></div>
    <figcaption>Surface 1</figcaption>
  </figure>

  <figure class="surface2">
    <div class="swatch"></div>
    <figcaption>Surface 2</figcaption>
  </figure>

  <figure class="surface3">
    <div class="swatch"></div>
    <figcaption>Surface 3</figcaption>
  </figure>

  <figure class="surface4">
    <div class="swatch"></div>
    <figcaption>Surface 4</figcaption>
  </figure>

  <figure class="shadow">
    <div class="swatch"></div>
    <figcaption>Shadow</figcaption>
  </figure>
</div>
<main>
    <router-outlet></router-outlet>
    <app-tables-list role="region" id="tables" [attr.aria-expanded]="tablesOpen" (toggleTable)="toggleTable($event)" aria-label="Random Tables"></app-tables-list>
</main>
<footer>
    <p>Written in Mar-Apr 2021 by Derik A. Badman <a href="https://derikbadman.com">https://derikbadman.com</a> Game info and updates at <a href="https://madinkbeard.itch.io/hadleyville">https://madinkbeard.itch.io/hadleyville</a></p>
</footer>
