:host {
    border-radius: 0 0 0 5px;
    border: 0 solid var(--secondary);
    border-width: 0 0 1px 1px;
    background-color: var(--surface3);
    box-shadow: -2px 7px 10px rgba(50, 50, 0, 0.5);
}
:host[aria-expanded=false] {
    box-shadow: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
header > h2 {
    flex: 2 1 auto;
    margin: 0;
}
