<h1 mat-dialog-title id="modal-title">Edit Town</h1>

<mat-dialog-content>
  <p>Click the <span style="font-size: 2rem;">&#9861;</span> to reroll a field. Click "Save" to save any changes.</p>
  <form id="townEditForm" (submit)="onSubmit($event)">
    <div *ngFor="let field of town.schema.fields">
        <div class="formField" *ngIf="field.type !== 'long'; else elseBlock">
          <label for="{{ field.key }}">{{ field.label }}</label>
          <div class="fieldReroll">
            <input id="{{ field.key }}" type="text" name="{{ field.key }}" value="{{ town.fields[field.key] }}" [attr.required]="field.key === 'townName' ? 'required' : null" />
            <button type="button" class="btn-reroll" (click)="reroll(field.key)" aria-label="Reroll">&#9861;</button>
          </div>
        </div>
      <ng-template #elseBlock>
        <div class="formField">
          <label for="{{ field.key }}">{{ field.label }}</label>
          <div class="fieldReroll">
            <textarea id="{{ field.key }}" type="text" rows=5 name="{{ field.key }}">{{ town.fields[field.key] }}</textarea>
            <button type="button" class="btn-reroll" (click)="reroll(field.key, true)" aria-label="Append a Reroll">&#9861;</button>
          </div>
        </div>
      </ng-template>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="submit" form="townEditForm">Save</button>
  <button type="button" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
