<h2 class="header">Settings</h2>

<section id="import">
    <p>Data is currently stored in your browser's local storage. To use on other browsers or devices you must export then import.</p>
    <section>
        <h3>Export Data</h3>

        <p>Export your data to a file for importing into another browser.</p>

        <app-exporter></app-exporter>
    </section>

    <section>
        <h3>Import Data</h3>
        <p>Import your data from an exported file. If Town data is included it will update current Town. Included NPCs and Notes will either be added or overwrite existing (based on unique id).</p>
        <app-importer></app-importer>
    </section>

    <section>
        <h3>Clear Data</h3>
        <p>Clear all saved data from local storage. <strong>THIS IS NOT REVERSIBLE.</strong><p>
        <p><button type="button" class="btn-delete" (click)="deleteData($event)">Delete ALL Data</button>
    </section>
</section>
