<section id="npcs">
    <header>
        <h2>NPCs</h2>
        <button mat-stroked-button (click)="getNPC()">Create NPC</button>
        <button mat-stroked-button (click)="getNPCName()">Get Name</button>
    </header>
    <app-npc *ngFor="let npc of npcs" [npc]="npc"></app-npc>
</section>

<section id="notes">
    <header>
        <h2>Notes</h2>
    </header>
    <app-note *ngFor="let note of notes" [note]="note" class="mat-typography"></app-note>
</section>

<section id="tables">
    <h2>Tables</h2>
    <app-table-multi *ngFor="let table of tables" [table]="table" (resultRoll)="showResult($event)"></app-table-multi>
</section>
