:host {
    display: block;
    padding: 0;
    background-color: white;
    margin-bottom: .25rem;
}

details {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: .5rem;
}
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    align-items: center;
}
summary #summary-title {
    font-weight: bold;
    font-size: 1rem;
}
details summary #summary-title::before {
    content: "▲";
    margin-right: .5rem;
    font-size: .8rem;
}
details[open] summary #summary-title::before {
    content: "▼";
}
table {
    box-sizing: border-box;
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin-top: 1rem;
}
table td, table th {
    padding: .25rem;
    border: none;
}
table thead tr {
    background-color: lightgrey;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #eee;
}
