<mat-card role="article">
    <mat-card-title>
        <h4>{{ note.title }}</h4>
        <mat-card-actions>
            <button type="button" mat-icon-button aria-label="Edit Note" color="primary" (click)="editModal()">
                <mat-icon>edit</mat-icon>
            </button>
            <button type="button" mat-icon-button aria-label="Delete Note" color="warn" (click)="deleteNote()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-title>

    <mat-card-content>
        <div class="content" [innerHTML]="note.contentHtml"></div>
    </mat-card-content>


</mat-card>
